<ion-header>
  <ion-toolbar class="lista">
    <ion-title>Dlouhý sloupek</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p><b>Zkratka:</b> Ds </p>
    <p><b>Popis:</b> Nabereme přízi na háček a teprve potom zajedeme do vytvořeného oka. 
      Protáhnu a na háčku mám nyní 3krát ovinutou přízi. Naberu na háček a tuto přízi protáhnu všemi třemi.</p>
    <p><b>Značka:</b>
    <img src="assets/icon/DS.png"></p>
  </div>
</ion-content>
