ion-card {
    margin: 10px;
}

.rozdeleni {
    display: flex;
}

.avatar {
    //flex:2;
    max-width: 50%;
}

.popis {
    flex:2;
    text-align: left;
}

.obtiznost {
    --background: #4FC4F5;
    text-align: center;
    padding-top: 5px;
    
}
