<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <div class="search-box" (click)="inputbox()">
        <input type="text" placeholder="Type to search.." (keyup)="search()">
        <div class="search-icon" id="search-icon">
          <div class="cancel-button1">
            <img src="../../../assets/icon/searchicon0.svg">
          </div>
        </div>
        <div class="cancel-icon" id="cancel-icon">
          <div class="cancel-button">
            <img src="../../../assets/icon/searchicon1.svg">
          </div>
        </div>
      </div>
    </ion-buttons>
    <ion-title>Návody</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-item>
    <ion-button class="button" (click)="vsechno($event)">Vše</ion-button>
    <ion-button class="button" (click)="dokocene($event)">Dokončené</ion-button>
    <ion-button class="button" (click)="premiove($event)">Prémiové</ion-button>
    <ion-list>
      <label>Obtížnost</label>
      <ion-select [(ngModel)]="selectedElement" (ionChange)="vyberObtiznost($event)" class="button"
        placeholder="Obtížnost" interface="popover">
        <ion-select-option value="lehky">Lehká</ion-select-option>
        <ion-select-option value="stredni">Střední</ion-select-option>
        <ion-select-option value="tezky">Těžká</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-item>
</ion-toolbar>

<ion-content>
  <ion-card *ngFor="let item of items | callback:selectedElement | search:selectedItem | premiove:selected" routerLink="vnitrek/{{item.nazev}}" class="bunka {{item.obtiznost}}" (click)="timer()">
    <ion-header>
      <ion-card-title class="Nazev_navodu {{item.obtiznost}}_name">
        {{item.title}}
        &nbsp;
        <img *ngIf="item.premiove == true" src="../../../assets/icon/star.svg" alt="star" class="star">
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <img class="avatar" src="assets/icon/{{item.nazev}}.jpg" alt="avatar">
      <div class="popis">
        <p><strong>Zkratky:</strong> {{item.zkratky}}</p>
        <p><strong>Pomůcky:</strong> {{item.pomucky}}</p>     
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>