<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Návody</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar >
    <ion-item>
      <button class="button" onclick="vsechno()">Vše</button>
      <button class="button" onclick="dokoncene()">Dokončené</button>
      <button class="button" onclick="premiove()">Prémiové</button>
      <ion-list>
       <!-- <label  onclick="vyberObtiznost()">Obtížnost</label>-->
        <ion-select class="button" placeholder="Obtížnost" interface="popover">
          <ion-select-option value="lehka">Lehká</ion-select-option>
          <ion-select-option value="stredni">Střední</ion-select-option>
          <ion-select-option value="tezka">Těžká</ion-select-option>
        </ion-select>
      </ion-list>
  </ion-item>

</ion-toolbar>

<ion-content>
  <ion-card *ngFor="let item of items">
    <div class="bunka green" *ngIf="item.obtiznost == 'lehky';" onclick="goVnitrek(item)">
      <div class="Nazev_navodu green_name">
          {{item.titulek}}
      </div>
      <div class="obsah">
          <img id="obrazek_navodu">
          <table class="text">
            <div class="rozdeleni">
              <div class="avatar">
                <img src="assets/icon/{{item.nazev}}.jpg">
              </div>
              <div class="popis" class="text">
                <b>Zkratky:</b> {{item.zkratky}} <br>
                <b>Pomůcky:</b> {{item.pomucky}}
              </div>
            </div>
          </table>
        </div>
      </div>
  </ion-card>

  <ion-card *ngFor="let item of items">
    <div class="bunka yellow" *ngIf="item.obtiznost == 'stredni';" onclick="goVnitrek(item)">
      <div id="zluty_okraj">
        <div class="Nazev_navodu yellow_name">
          {{item.titulek}}
        </div>
      </div>
      <div class="obsah">
          <img id="obrazek_navodu">
          <table class="text">
            <div class="rozdeleni">
              <div class="avatar">
                <img src="assets/icon/{{item.nazev}}.jpg">
              </div>
              <div class="popis" class="text">
                <b>Zkratky:</b> {{item.zkratky}} <br>
                <b>Pomůcky:</b> {{item.pomucky}}
              </div>
            </div>
          </table>
        </div>
      </div>
  </ion-card>

  <ion-card *ngFor="let item of items">
    <div class="bunka red" *ngIf="item.obtiznost == 'tezky';" onclick="goVnitrek(item)">
      <div id="cerveny_okraj">
        <div class="Nazev_navodu red_name">
            {{item.titulek}}
        </div>
      </div>
      <div class="obsah">
          <img id="obrazek_navodu">
          <table class="text">
            <div class="rozdeleni">
              <div class="avatar">
                <img src="assets/icon/{{item.nazev}}.jpg">
              </div>
              <div class="popis" class="text">
                <b>Zkratky:</b> {{item.zkratky}} <br>
                <b>Pomůcky:</b> {{item.pomucky}}
              </div>
            </div>
          </table>
        </div>
      </div>
  </ion-card>
</ion-content>


