<ion-header>
  <ion-toolbar>
    <ion-title>{{navod.zkratky}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let popis of popisy">
    <div class="rozdeleni">
      <div class="sloupec">
        <div>
          {{popis.titulekCasti}}
        </div>
        <div>
          <b>Použijeme tyto styly: </b>
          {{navod.zkratky}}
        </div>
      </div>
      <div class="sloupec">
        <img src="assets/icon/{{navod.nazev}}/{{popis.nazevCasti}}.jpg">
      </div>
    </div>
    <hr>
    <div class="popis" innerHTML="{{popis.popis}}">
    </div>
  </div>

  <div class="footer-buttons">
    <ion-button start class="footer-button" (click)="skrtnuti()" shape="round">
      <ion-icon size="small" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="hotovo()">Hotovo</ion-button>
    <ion-button end class="footer-button" (click)="odpreskrtnuti()" shape="round">
      <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
