.footer-button {
    flex: 0 1 auto;
    width: 20%;
    --background: #4FC4F5;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    --border-width: 0px;
    --background: #fff;
    margin-top: 20px;
}

#container {
    padding: 20px;
}

.timer {
    padding: 10px;
    background-color: #4FC4F5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.line {
    height: 1px;
    background-color: #000;
    opacity: 50%;
    margin-top: 20px;
}

.obraz {
    margin: unset;
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.column {
    margin-right: 30px;
}

.popis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popis:last-child {
    margin-bottom: 30px;
}