<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrace</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Uživatelské jméno</ion-label>
    <ion-input type="username" (change)="usernameCheck()" minlength="4" ngModel username></ion-input>
    <ion-note slot="helper">Uživatelské jméno musí být dlouhé alepoň 4 znaky.</ion-note>
    <ion-note slot="error">Vaše uživatelské jméno je příliš krátké.</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [ngModel]="email" (change)="emailCheck()" email="ngModel"></ion-input>
    <ion-note slot="helper">Zadejte svůj email.</ion-note>
    <ion-note slot="error">Špatně zadaný email!</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Heslo</ion-label>
    <ion-input type="{{ showPassword0 ? 'text' : 'password' }}" ngModel password (change)="passwordCheck()" minlength="8" maxlength="20"></ion-input>
    <ion-icon slot="end" [name]="showPassword0 ? 'eye' : 'eye-off'" (click)="togglePassword()"></ion-icon>
    <ion-note slot="helper">Heslo musí obsahovat minimálně 8 znaků, maximálně 20.</ion-note>
    <ion-note slot="error">Špatně zadané heslo.</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Zopakujte heslo</ion-label>
    <ion-input type="{{ showPassword1 ? 'text' : 'password' }}" ngModel password (change)="passwordCheck()" minlength="8" maxlength="20"></ion-input>
    <ion-icon slot="end" [name]="showPassword1 ? 'eye' : 'eye-off'" (click)="togglePassword2()"></ion-icon>
    <ion-note slot="helper">Heslo pro kontrolu musí obsahovat minimálně 8 znaky, maximálně 20.</ion-note>
    <ion-note slot="error">Špatně zadané heslo.</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Jazyk</ion-label>
    <ion-select [(ngModel)]="language" interface="popover">
      <ion-select-option value="EN">Angličtina</ion-select-option>
      <ion-select-option value="CZ">Čeština</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <br>
  <ion-button (click)="register()">Registrovat</ion-button>
</ion-content>