<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrace</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input id="user" type="text" placeholder="Uživatelské jméno" (change)="userName()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="email" type="text" placeholder="E-mailová adresa" (change)="email()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Heslo" (change)="password()"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input id="secondPassword" [type]="showPassword2 ? 'text' : 'password'" placeholder="Heslo pro kontrolu" (change)="password()"></ion-input>
    <ion-icon slot="end" [name]="passwordToggleIcon2" (click)="togglePassword2()"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-select interface="popover" placeholder="Vyber jazyk">
      <ion-select-option value="EN">Angličtina</ion-select-option>
      <ion-select-option value="CZ">Čeština</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <br>
  <ion-button>Registrovat</ion-button>

</ion-content>
