<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrace</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="text" placeholder="Uživatelské jméno">
  <input type="text" placeholder="E-mailová adresa">
  <input type="text" placeholder="Heslo">
  <input type="text" placeholder="Heslo pro kontrolu">
  <br>
  <br>
  <button>Registrovat</button>

</ion-content>
