<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Přihlášení</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email, nebo uživatelské jméno</ion-label>
    <ion-input type="email" ngModel email (change)="emailCheck()"></ion-input>
    <ion-note slot="helper">Zadejte svůj email.</ion-note>
    <ion-note slot="error">Špatně zadané uživatelské jméno, nebo email!</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Heslo</ion-label>
    <ion-input type="{{ showPassword ? 'text' : 'password' }}" ngModel password (change)="passwordCheck()"></ion-input>
    <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
    <ion-note slot="helper">Heslo musí obsahovat minimálně 8 znaků, maximálně 20. Může obsahovat velká i malá písmena, speciální znak a čísla.</ion-note>
    <ion-note slot="error">Špatně zadané heslo.</ion-note>
  </ion-item>
  <br><br>
  <ion-button (click)="login()">Přihlásit se</ion-button>
  <br>
  <div class="odkaz">
    Ještě nemáte účet? <a href="/registrace">Zaregistruj se!</a>
  </div>
  <br>
  <strong>Zapomněli jste heslo?</strong>
</ion-content>