<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{navod.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="cards">
      <div class="card">
        <b>{{ 'NAVODYVNITREK.budemePotrebovat' | translate }}</b>
        <p>{{navod.pomucky}}</p>
        <b>{{ 'NAVODYVNITREK.pouzijeme' | translate }}:</b>
        <div>
          {{navod.zkratky}}
        </div>
      </div>
      <div class="card">
        <img class="obraz" src="assets/icon/{{navod.nazev}}.jpg">
      </div>
    </div>
    <div class="line"></div>
    <div style="height: 20px;"></div>
    <p *ngFor="let popis of navod.popisy">
      <button name="element0" (click)="finished(popis.nazevCasti)" routerLink="detail/{{popis.nazevCasti}}">
        {{popis.titulekCasti}}
      </button>
    </p>
  </div>
</ion-content>