<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button href="/prihlaseni">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{navod.nazev}}</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let popis of popisy">
    <div class="text">
      <h2>Budeme potřebovat:</h2> <p>{{navod.pomucky}} </p>
      <h2>Použijeme tyto styly:</h2> <p>{{navod.zkratky}}</p>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast1}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}1.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast2}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}2.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast3}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}3.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast4}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}4.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast5}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}5.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast6}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}6.jpg"></div>
      </div>
      <div class="rozdeleni">
        <div class="popis" innerHTML="{{popis.cast7}}"></div>
        <div class="avatar"><img src="assets/icon/{{navod.nazev}}7.jpg"></div>
      </div>
    </div>
  </div>
</ion-content>