<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{navod.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <div class="text">
      <h2>Budeme potřebovat:</h2>
      <p>{{navod.pomucky}} </p>
      <h2>Použijeme tyto styly:</h2>
      <div>{{navod.zkratky}}</div>
      <div class="rozdeleni" *ngFor="let popis of popisy">
        <div class="sloupec">
          <h2>{{popis.nazevCasti}}:</h2>
          <div class="popis" innerHTML="{{popis.popis}}"></div>
        </div>
        <div *ngIf="popis.obrazek" class="avatar"><img src="assets/icon/{{navod.nazev}}/{{popis.nazevCasti}}.jpg"></div>
      </div>
    </div>
  </div>
</ion-content>