.nadpis {
    text-align: center;
    font-size: 18;
}

.zkratka {
    --background: #ffffff;
    color: #000000;
    text-align: center;
    padding-block: 17px;
    font-size: xx-large;
}

.znacka {
    --background: #ffffff;
    padding-block: 5px;
}

.modra {
    background: #c8e7f4;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    padding: 10px;
}

.fotky-slovnik {
    --background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    
}   

#container {
     padding: 20px;
}

.obraz {
    width: 60px;
}
