ion-card-title {
    font-size: 1.2rem;
}

ion-item-divider {
    --background: none;
    display: flex;
    flex-direction: column;
}

.zkratka {
    --background: #ffffff;
    --color: #000000;
    text-align: center;
    padding: 25px;
    font-size: xx-large;
}

.znacka {
    background-color: #ffffff;
    padding: 5px;
}

ion-card {
    --background: #c8e7f4;
    --color: #000000;
    border-radius: 10px;
}

ion-card-header {
    display: flex;
}

h4 {
    text-align: center;
}

.obraz {
    height: 78px;
    width: 78.55px;
}