<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{styl.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item-divider>
        <ion-card-title>Zkratka:</ion-card-title>
        <ion-card class="zkratka">
          {{styl.zkratka}}
        </ion-card>
      </ion-item-divider>
      <ion-item-divider>
        <ion-card-title>Značka:</ion-card-title>
        <ion-card class="znacka">
          <ion-img class="obraz" src="assets/icon/{{styl.nazev}}.svg"></ion-img>
        </ion-card>
      </ion-item-divider>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Popis</strong></p>
      <p innerHTML="{{styl.popis}}"></p>
    </ion-card-content>
  </ion-card>
  <h4>Animace</h4>
  <ion-card><ion-img src="assets/icon/{{styl.nazev}}.gif"></ion-img></ion-card>
  <h4>Ve skutečnosti</h4>
  <ion-card><ion-img src="assets/icon/{{styl.nazev}}-real.png"></ion-img></ion-card>
</ion-content>