<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{styl.titulek}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="text">
      <div class="modra">
        <div class="rozdeleni">
          <div class="sloupec">
            <b>Zkratka</b>
            <ion-card class="zkratka">
              {{styl.zkratka}}
            </ion-card>
          </div>
          <div class="sloupec">
            <b>Značka</b>
            <ion-card class="znacka">
              <img class="obraz" src="assets/icon/{{styl.nazev}}.png">
            </ion-card>
          </div>
        </div>

        <br><b>Popis</b>
        <p class="popisek" innerHTML="{{styl.popis}}"></p>
      </div>

      <p class="nadpis"><b>Animace</b><br></p>
      <img class="fotky-slovnik" src="assets/icon/{{styl.nazev}}.gif">
      <p class="nadpis"><b>Ve skutečnosti</b></p>
      <img class="fotky-slovnik" src="assets/icon/{{styl.nazev}}-real.png">
    </div>
  </div>
</ion-content>