<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button href="/prihlaseni">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Pomůcky</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="text">
      <h1 id="hacek">Háček</h1>
      <p>Existuje široká škála velikostí. Háčky se dělají z různých materiálů a mohou být zdobeny rukojeťmi, 
      ergonomickými úchyty a podobně</p>
      
      <h1>Příze</h1>
      <p>Dnes můžeme najít obrovské množství značek a materiálů (akrylové, bavlněné, směsové). Na přebalu klubíčka bývá napsáno kolik
        metrů obsahuje a na jak velký háček (popř. jehlice) je dělaná. Samožřejmě můžete využít více velikostí na jeden typ příze 
        (např.: Dolphin Baby se dá háčkovat s háčkem velikosti 4, 4.5 nebo 5 mm), ovlivňuje se tím však velikost oček.</p>

      <h1>Značkovač</h1>
      <p>Slouží nám k označení počátku řady. Dá se použít i jiný kousek příze, ale značkovač je příjemná pomůcka, která se 
      na trhu objevuje ve více variantách.</p>

      <h1>Jehla</h1>
      <p>Na přišívání jednotlivých dílů, zapošívání nitě. Upřednostňované plastové jehly se více hodí, pokud děláte se silnějším typem
      příze.</p>

      <h1>Bezpečnostní oči a nosy</h1>
      <p>Dnes se dá pořídit spousta tvarů, velikostí a barev očí a nosů s bezpečnostní pojistkou i bez ní </p>

      <h1>Chrastítko</h1>
      <p>Pokud chcete svůj výrobek nějak ozvláštnit pro dítě, nebo třeba domácího mazlíčka, můžete dovnitř přidat chrastítko.</p>


      <h1>Počítadlo</h1>

      <h1>Navíječ příze</h1>
      
      <h1>Duté vlákno nebo vata</h1>
  </div>
</ion-content>
