#container {
    padding: 40px;
}

h2 {
   text-align: center;
}

.bubliny {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Line1 {
    width: 100%;;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.bublina {
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    text-align: center;
    font-size: calc(.7rem + .5vw);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8E7F4;
    flex-wrap: wrap;
}

.pomucka {
    width: 50%;
    max-width: 120px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.video{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    height: 72%;
}
