<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar class="lista">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon slot="primary"></ion-icon>
            <ion-label>Selecro</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-label>{{ 'APP.pomucky' | translate }}</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-menu-toggle>
                <ion-item routerLink="pomucky/hacek">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.hacek' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/prize">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.prize' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/znackovac">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.znackovac' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/jehla">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.jehla' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/nuzky">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.nuzky' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/bezpecnostni-oci-a-nos">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.bezpecnostniOciANos' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/chrastitko">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.chrastitko' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/pocitadlo">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.pocitadlo' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/navijec-prize">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.navijecPrize' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="pomucky/vypln">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.vypln' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-label>{{ 'APP.slovnik' | translate }}</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-menu-toggle>
                <ion-item routerLink="slovnik/retizkove-oko">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.retizkoveOko' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/pevne-oko">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.pevneOko' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/kratky-sloupek">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.kratkySloupek' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/polodlouhy-sloupek">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.polodlouhySloupek' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/dlouhy-sloupek">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.dlouhySloupek' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/rozhackovani">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.rozhackovani' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/shackovani">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.shackovani' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-menu-toggle>
                <ion-item routerLink="slovnik/magicky-krouzek">
                  <ion-icon></ion-icon>
                  <ion-label>{{ 'APP.magickyKrouzek' | translate }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

        <ion-menu-toggle>
          <ion-item routerLink="/vyukovy-mod">
            <ion-icon slot="primary"></ion-icon>
            <ion-label>{{ 'APP.vyukovyMod' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/navody">
            <ion-icon slot="primary"></ion-icon>
            <ion-label>{{ 'APP.navody' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main">

  </ion-router-outlet>
</ion-app>