<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Pevné oko</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p><b>Zkratka:</b> Po </p>
    <p><b>Popis:</b> Ve vytvořené řadě výrobku si mohu udělat pevná oka. Pomáhají tvarovat záhyby, lokty, 
      kolena nebo zakončují výrobek. To oka zajedu háčkem a přitáhnu přízi na druhou stranu, ale tentokrát narozdíl od ks tu 
      druhou přízi přitáhnu tou první. Čím více budu utahovat, tím hůř se do něj pak dostanu. Pokud zakončujete, tak se v 
      tomto bodě už jen ustřihne dostatečně dlouhá část příze na přišití a protáhnete konec vytvořeným okem na háčku.</p>
    <p><b>Značka:</b>
    <img src="assets/icon/PO.png"></p>
  </div>
</ion-content>
