<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Selecro
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Vítejte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Zdraví Vás tým Selecro s touto mobilní aplikací na naučení háčkování.</p>
        <p>Připravujeme pro Vás i stránku na internetu.</p>
      </ion-card-content>   
    </ion-card>
    <ion-slides pager>  
      <ion-slide>
        <ion-img src="assets/icon/slon.png" alt="slon"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/icon/jednicka.png" alt="chobotnička"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/icon/medved.png" alt="medvěd"></ion-img>
      </ion-slide>
    </ion-slides>
    <h2>
      Sociální sítě
    </h2>
    <ion-grid>
      <ion-row>
        <ion-card class="soc">
          <ion-card-content>
            <a href="mailto:info@selecro.cz">
              <img class="socials_logo" src="assets/icon/mail.svg">
            </a>
          </ion-card-content>
        </ion-card>
        <ion-card class="soc">
          <ion-card-content>
            <a href="https://www.instagram.com/_selecro_/" target="_blank">
              <img class="socials_logo" src="assets/icon/instagram.svg">
            </a>
          </ion-card-content>
        </ion-card>
        <ion-card class="soc">
          <ion-card-content>
            <a href="https://www.pinterest.com/selecro/" target="_blank">
              <img class="socials_logo" src="assets/icon/pin.svg">
            </a>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>