<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Selecro
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="privitaci_modry_blok">
        <div class="novinky">
          <h2>
            Vítejte!
          </h2>
          <p>
            Zdraví Vás tým Selecro s touto mobilní aplikací na naučení háčkování.
          </p>
          <p>
            Připravujeme pro Vás i stránku na internetu.
          </p>
        </div>
    </div>
    <div id="obrazky">
        <img class="obrazek" src="assets/icon/slon.png">
        <img class="obrazek" src="assets/icon/jednicka.png">
        <img class="obrazek" src="assets/icon/medved.png">
    </div>
    <h2 id="soc">
      Sociální sítě
    </h2>
    <div id="soc_site">
      <a class="card" href="mailto:selecro@seznam.cz">
        <img class="socials_logo" src="assets/icon/mail.svg">
      </a>
      <a class="card" href="https://www.instagram.com/_selecro_/" target="_blank">
        <img class="socials_logo" src="assets/icon/instagram.svg">
      </a>
      <a class="card" href="https://www.pinterest.com/selecro/" target="_blank">
        <img class="socials_logo" src="assets/icon/pin.svg">
      </a>
    </div>
  </div> 
</ion-content>
