ion-card {
  background-color: #C8E7F4;
  color: #000;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

.soc {
  background-color: #fff;
  height: 80px;
}

.socials_logo {
  max-width: 40px;
  min-width: 40px;
}

ion-grid {
  display: flex;
  justify-content: center;
}

ion-img {
  max-width: 250px;
}

ion-slides {
  --bullet-background: blue;
  --bullet-background-active: darkblue;
  padding-bottom: 40px;
}

