<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button href="/prihlaseni">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Řetízkové oko</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="rozdeleni">
    <div class="sloupec">
      <b>Zkratka:</b> Řo
    </div>
    <div class="sloupec">
      <b>Značka:</b>
      <img class="obraz" src="assets/icon/RO.png">
    </div>
  </div>

  <div class="text">
    <b>Popis:</b> Vytvoříme si jednoduchý uzlík, který upevníme přímo na háček. Utahujeme pouze tak, aby prošla další příze. Naberu na háček a přitáhnu vytvořeným okem. Opakováním tohoto tahu vytvářím řetěz.
    <p><b>Animace:</b><br>
    <img src="assets/icon/ro-animace.gif"></p>
  </div>
</ion-content>
