<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Řetízkové oko</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <body>
    <div class="text">
    <p><b>Zkratka:</b> Řo</p>
    <p><b>Popis:</b> Vytvoříme si jednoduchý uzlík, který upevníme přímo na háček. Utahujeme pouze tak, 
    aby prošla další příze. Naberu na háček a přitáhnu vytvořeným okem. Opakováním tohoto tahu vytvářím řetěz.</p>
    <p><b>Značka:</b>
    <img src="assets/icon/RO.png"></p>
    <p><b>Animace:</b>
    <img src="assets/icon/ro-animace.gif"></p>
    </div>
    
  </body>

</ion-content>
