<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.nazev}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div>
        <b>Krok:</b> {{item.kroky[0].nazev}}<br>
        <b>Použijeme:</b> {{item.kroky[0].pouzijeme}}<br>
        <b>Popis:</b><p class="popisek" innerHTML="{{item.kroky[0].popis}}"></p>
      </div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/?showinfo=0&loop=1&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>
