<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{vyrobek.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper #swiper [config]="config">
    <ng-template swiperSlide *ngFor="let krok of kroky">
      <ion-card class="karta-popisu">
        <ion-card-content>
          <div class="text">
            <b>Krok:</b> {{krok.cislo}}<br>
            <b>Styl:</b> {{krok.styl}}<br>
            <b>Pomůcky:</b> {{krok.pouzijeme}}<br>
            <b>Popis:</b>
            <p class="popisek" innerHTML="{{krok.popis}}"></p>
          </div>
        </ion-card-content>
      </ion-card>
      <div class="video-center">
        <div class="video">
          <iframe width="100%" height="100%" [src]=getEmbedVideo(krok.videoUrl) title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>

<ion-toolbar>
  <div class="footer-buttons">
    <ion-button start class="footer-button" (click)="goToPreviousSlide()" shape="round">
      <ion-icon size="small" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button end class="footer-button" (click)="goToNextSlide()" shape="round">
      <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-toolbar>