<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button routerLink="/prihlaseni">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <div class="search-box" (click)="inputbox()">
        <input type="text" placeholder="Type to search.." (keyup)="search()">
        <div class="search-icon" id="search-icon">
          <div class="cancel-button1">
            <img src="../../../assets/icon/searchicon0.svg">
          </div>
        </div>
        <div class="cancel-icon" id="cancel-icon">
          <div class="cancel-button">
            <img src="../../../assets/icon/searchicon1.svg">
          </div>
        </div>
      </div>
    </ion-buttons>
    <ion-title>Výukový mód</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div *ngFor="let item of items | search:selectedItem">
      <div class="bunka" (click)='goDetail(item)'>
        <div class="ruzovy_okraj">{{item.title}}</div>
        <div class="obsah"> 
          <img class="avatar" src="assets/icon/{{item.nazev}}.jpg">
          <div class="popis">
            <b>Čas:</b> {{item.cas}}<br>
            <b>Počet kroků:</b> {{item.pocet}} <br>        
            <b>Popis:</b> {{item.popis}}
          </div>
        </div> 
      </div>
    </div>
  </div>
</ion-content>