<ion-header>
  <ion-toolbar class="lista">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <div class="search-box" (click)="inputbox()">
        <input type="text" placeholder="Type to search.." (keyup)="search()">
        <div class="search-icon" id="search-icon">
          <div class="cancel-button1">
            <img src="../../../assets/icon/searchicon0.svg">
          </div>
        </div>
        <div class="cancel-icon" id="cancel-icon">
          <div class="cancel-button">
            <img src="../../../assets/icon/searchicon1.svg">
          </div>
        </div>
      </div>
    </ion-buttons>
    <ion-title>{{ 'APP.vyukovyMod' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <div *ngFor="let item of items | search:selectedItem">
      <ion-card (click)='goDetail(item)'>
        <ion-header class="header">
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-header>
        <ion-card-content> 
          <img class="avatar" src="assets/icon/{{item.nazev}}.jpg">
          <div class="popis">
            <b>{{ 'VYUKOVYMOD.cas' | translate }}</b> {{item.cas}}<br>
            <b>{{ 'VYUKOVYMOD.pocetKroku' | translate }}</b> {{item.pocet}} <br>        
            <b>{{ 'VYUKOVYMOD.popis' | translate }}</b> {{item.popis}}
          </div>
        </ion-card-content> 
      </ion-card>
    </div>
</ion-content>