<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Pomůcky</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="text">
      <h1 id="hacek">Háček</h1>
      <p>Existuje široká škála velikostí. Háčky se dělají z různých materiálů a mohou být zdobeny rukojeťmi, 
      ergonomickými úchyty a podobně</p>
      
      <h1>Příze</h1>
      <p>Dnes můžeme najít obrovské množství značek a materiálů (akrylové, bavlněné, směsové). Na přebalu klubíčka bývá napsáno kolik
        metrů obsahuje a na jak velký háček (popř. jehlice) je dělaná. Samožřejmě můžete využít více velikostí na jeden typ příze 
        (např.: Dolphin Baby se dá háčkovat s háčkem velikosti 4, 4.5 nebo 5 mm), ovlivňuje se tím však velikost oček.</p>

      <h1>Značkovač</h1>
      <p>Slouží nám k označení počátku řady. Dá se použít i jiný kousek příze, ale značkovač je příjemná pomůcka, která se 
      na trhu objevuje ve více variantách.</p>

      <h1>Jehla</h1>
      <p>Na přišívání jednotlivých dílů, zapošívání nitě. Upřednostňované plastové jehly se více hodí, pokud děláte se silnějším typem
      příze.</p>

      <h1>Bezpečnostní oči a nosy</h1>
      <p>Mnoho typů, barev a velikostí, ale ten na obrázku je nejběžnější. Polokulaté oči se připevňují plastovou pojistkou, a to 
      tak, že protáhneme závit otvorem (vyboulenou stranou ven).</p>

      <h1>Chrastítko</h1>
      <p>Pokud chcete dělat nějakou hračku pro děti nebo i domácího mazlíčka, můžete pro ozvláštnění přidat dovnitř chrastítko.
      Všichni asi víme, jak taková chrastítka fungují. Mezi běžné typy patří jednoduché oválné chrastítko a takové, co vypadá 
      jako míček na florbal (tvar koule s otvory). U druhého typu existuje nebezpečí, že se vám při vyplňování spolu s výrobkem 
      a nebude chrastit.</p>

      <h1>Počítadlo</h1>
      <p>Primární využití je na počítání řad. Manuální počítadlo vypadá jako válec s točícími se konci, které obrací ukazatele
      čísel od 0 do 9.</p>
      <p>Digitální počítadlo se dá připevnit na palec či jiný vám vyhovující prst a jedním tlačítkem přidat 1. 
      Druhé menší je na reset, takže se na obrazovce objeví 0.</p>

      <h1>Navíječ příze</h1>
      <p>Když se vám klubíčko zamotá nebo rozkutálí, můžete ho namotat zpět buď ručně, nebo právě za pomoci tohoto vynálezu.</p>
      <p>Očkem protáhneme konec a do výhryzu zasadíme část příze. Začneme točit kličkou a z chuchvalce příze se dá vytvořit 
      krásné klubíčko
      </p>
      
      <h1>Duté vlákno nebo vata</h1>
      <p>Vyplnit výrobek se dá dutým vláknem, výplní z polštáře i vatou. Rozdílem je tvrdost vyplňujícího materiálu. 
      Od toho se odvíjí i množství, které na vyplnění použijete.</p>
  </div>
</ion-content>
