<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Magický kroužek</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p><b>Zkratka:</b> Mk </p>
    <p><b>Popis:</b> Dostatečný kus příze si položím mezi prostředníček a ukazováček levé ruky (pokud jsem pravák). 
    Omotám kolem vnější strany ukazováčku, celého palce a vracím se zpět tam, kde začíná příze. Mezi prostředníček a ukazováček.
    Vytvořím tak „znak nekonečna“.</p>
    <p>Vezmu si háček a podeberu vnitřní u palce, vnější přízi za křížem a vnější před křížem. Pravým ukazováčkem si pak tyto tři
    přehozené části podržím a naberu si přízi na levou ruku, jako bych chtěla začít háčkovat. Pak naberu na háček a protáhnu všemi
    třemi oky, při tom levým palcem a prostředníčkem držím vznikající kruh.</p> 
    <p>V tomto okamžiku se dostáváme do pevného bodu. Máme kruh a máme volný „špagátek“. Háčkujeme směrem doleva, tedy v protisměru
    hodinových ručiček. Háčkem nabereme kruh tím, že půjdeme zevnitř ven. Společně s kruhem budeme nabírat i svěšený provázek, 
    díky kterému nakonec kruh utáhneme, aby byl opravdu kruhem. </p>
    <p><b>Značka:</b><br>
    <img src="assets/icon/MK.png">
    <img src="assets/icon/MKspirala.png"></p>
  </div>
</ion-content>