<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button href="/prihlaseni">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Rozháčkování</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <p><b>Zkratka:</b> V </p>
    <p><b>Popis:</b> Krátký sloupek tak, jak ho známe, ale uděláme ho dvakrát v jednom bodě </p>
    <p><b>Značka:</b><br>
    <img class="obraz" src="assets/icon/V.png"></p>
  </div>
</ion-content>
