<ion-header>
  <ion-toolbar class="lista">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Rozháčkování</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div class="text">
    <p><b>Zkratka:</b> V </p>
    <p><b>Popis:</b> Krátký sloupek tak, jak ho známe, ale uděláme ho dvakrát v jednom bodě </p>
    <p><b>Značka:</b>
  <!--  <ion-card-content>
    <iframe width="100%" height="315" src="assets/icon/chobotnicka1.mp4" frameborder="0" allow="accelerometer"></p>
    </ion-card-content>-->
  </div>
  </body>
</ion-content>
